* {
    /* margin: 0 !important;
    padding: 0 !important; */
    font-family: 'Josefin Sans', sans-serif;
}


.logo {
    width: 2.5rem;
    height: 2.5rem;
}
.navbar-toggler {
    outline: none !important;
}
.cont {
    background-image: url('/CSS/images/bg.jpg');
    background-attachment: fixed;
}
.pad {
    padding-top: 100px !important;
}
.position {
    position: relative;
}
.absolutee {
    position: relative;
    width: max-content;
    background-color: #000;
    top: -24px;
    font-style: italic;
}
.color {
    color: #808080;
    font-size: 12px;
}
.card-body hr {
    border-top: 1px dotted #808080;
    width: 40%;
    margin-top: -5%;
}
.font {
    font-size: 14px;
}
.link2 {
    width: 10%;
    border-bottom-right-radius: 4px;
}
.link3 {
    background-color: rgba(0, 0, 0, 0.7);
}
.colo {
    color: #858585;
    font-size: 25px;
}
.col {
    color: #858585;
}
.fontt {
    font-size: 13px;
}
ul {
    font-size: 13px;
}
ul li {
    list-style-type: none;
}
.bords {
    border-bottom: 2px solid #fff;
}
.bordss {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}



@media only screen and (max-width: 768px) {
    .container-fluid {
        padding: 10px !important;
    }
    .row {
        margin: 0 !important;
        padding: 65px 0px !important;
    }
    div {
        padding: 0px !important;
    }
    .card-body {
        padding: 10px !important;
    }
    .navbar {
        padding: 0px 10px !important;
    }
    .slideInLeft {
        -webkit-animation-name: slideInLeft;
        animation-name: slideInLeft;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        } 
}